<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.name%></title>
  </head>
  <body>
    <h3><%= data.name%></h3>
    <p>Temp: <%= data.main.temp%></p>
    <p>Desc: <%= data.weather[0].description%></p>
    <a href="javascript:history.back()">Go Back</a>
  </body>
</html>
